extend componentes/plantilla.pug 

block contenidos
	section.intro
		.intro__imagen
			img(src="images/imagen.png")
		.intro__contenido
			h2 #{titulo}
			p
				| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, illum dignissimos 
				| adipisci officiis esse, et vitae accusantium error aperiam inventore labore minima. 
				span Similique ratione fuga, aliquid ipsum earum beatae eligendi.
			a.boton Leer mas

	main.contenido
		each titulo in subtitulos
			+caja('imagen.png', titulo, 'Contenido de la caja')
			