doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="css/ejercicio-pug.css")

	body
		header
			h1 Games
			a.boton Registro
		section.intro
			.intro__imagen
				img(src="images/imagen.png")
			.intro__contenido
				h2 Titulo Principal
				p
					| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, illum dignissimos 
					| adipisci officiis esse, et vitae accusantium error aperiam inventore labore minima. 
					span Similique ratione fuga, aliquid ipsum earum beatae eligendi.
				a.boton Leer mas
